#button1 {

    background-color: #a3c9df;
    color: white;
    width: 150px;
    font-size: x-large;
    font-style: italic;
    font-family: LEMONMILK;
    border-color: white;
    padding: 8px;
    border-radius: 80%;
    transition-duration: 0.4s;
    cursor: pointer;
}
#button1:hover {
background-color: #dda9c0;
}
img {
    width: 300px;
    
}
@font-face {
    font-family: Akira;
    src: url(Akira\ Expanded\ Demo.otf);
}

@font-face {
    font-family: LEMONMILK;
    src: url(LEMONMILK-LightItalic.otf);
}
h2 { border-bottom: 3px solid #ffeaf9;}
p {
    font-family: LEMONMILK;
}